.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html, body, #app, #app>div {
  height: 100%
}
.Intro h1{
  color: white;
  font-size: 90px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
}

.Intro-contents {
  margin-top: -15vh;
}

.Intro h3  {
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;

}
.Intro a{
  font-size: 25px;
  color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.Intro a:hover{
  font-size: 25px;
  color: #757272;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.Icons > * {
  color: #fff;
}

.Icons a:hover {
  color: #757272;
}

.Icons > *:not(:first-child) {
  margin-left: 2%;
}

.Footer {
  padding-top: 5px;
  height: 5vh;
  text-align: center;
  background-color: #0c3b7a;
  color: white;
  font-weight: bold;

}

@fontface {
  font-family: 'Raleway', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Raleway');
}
